[Desktop Entry]
Type=Application
Icon=harbour-fiatpons
Name=fiat pons
Exec=/usr/bin/sailjail -p harbour-fiatpons.desktop /usr/bin/harbour-fiatpons

[X-Sailjail]
Permissions=Internet;Audio
OrganizationName=se.munkstolen
ApplicationName=harbour-fiatpons
